<div
  class="flex h-screen w-screen flex-col items-center justify-center px-2 md:px-6 md:py-10"
>
  {{ template "components/breadcrumb" . }}
  <div
    class="content relative flex w-full flex-col items-center justify-center overflow-hidden lg:container"
  >
    {{ if .IsDir }}
      {{ template "components/gallery" . }}
    {{ else }}
      {{ template "components/image-view" . }}
    {{ end }}
  </div>
</div>
